<div class="grid-container">
  <div class="selitems">
    <div class="pickerheader">Selected Items</div>
    <div class="pickertoolbar">
      <div class="pickertoolbarleftcont">
        <input type="checkbox" [checked]="selItemsSelected == selItemsVisible" (change)="onSelectedItemCheck($event)">
        <input type="text" name="filtername" [value]="selItemsFilterText" (change)="onSelectedItemFilter($event)">
      </div>
      <div class="pickertoolbarrightcont">{{selItemsSelected}} of {{selItemsVisible}} Selected</div>
    </div>
    <div class="pickerbody">
      <div *ngFor="let item of selItems; index as i" class="pickeritem" [style.backgroundColor]="item.selected ? 'skyblue' : 'white'"
        (click)="onSelectedItemClick(i)">
        <ng-container *ngIf="item.visible">
          {{item.label}}
        </ng-container>
      </div>
    </div>
  </div>
  <div class="itemmover">
    <button class="roundbutton leftbutton" (click)="moveToSelected()"></button>
    <br>
    <br>
    <button class="roundbutton rightbutton" (click)="moveToAvailable()"></button>
  </div>
  <div class="availitems">
    <div class="pickerheader">Available Items</div>
    <div class="pickertoolbar">
      <div class="pickertoolbarleftcont">
        <input type="checkbox" [checked]="availItemsSelected == availItemsVisible" (change)="onAvailableItemCheck($event)">
        <input type="text" name="filtername" [value]="availItemsFilterText" (change)="onAvailableItemFilter($event)">
      </div>
      <div class="pickertoolbarrightcont">{{availItemsSelected}} of {{availItemsVisible}} Selected</div>
    </div>
    <div class="pickerbody">
      <div *ngFor="let item of availItems; index as i" class="pickeritem" [style.backgroundColor]="item.selected ? 'skyblue' : 'white'"
        (click)="onAvailableItemClick(i)">
        <ng-container *ngIf="item.visible">
          {{item.label}}
        </ng-container>
      </div>
    </div>
  </div>
</div>